<%= render 'shared/header', text: 'Welcome to split!' %>
<% 20.times do %>
  <div class="row p-5 m-5">
    <% 4.times do %>
      <div class="col-3">
        <%= SecureRandom.hex(5) %>
      </div>
    <% end %>
  </div>
<% end %>