<div class="row">
  <div class="col-3">
    <%= bill.payer_name %>
  </div>
  <div class="col-3">
    <%= bill.description %>
  </div>
  <div class="col-3">
    <%= bill.total %>
  </div>
  <div class="col-3">
    <%= link_to bill_path(id: bill.id), data: { 'turbo-method': :delete } do %>
      <i class="bi bi-x-circle-fill text-danger"></i>
    <% end %>
  </div>
</div>