<div class="row">
  <div class="col-3">
    <%= line_item.description %>
  </div>

  <div class="col-3">
    <%= line_item.total %>
  </div>

  <div class="col-3">
    <%= line_item.created_at %>
  </div>
</div>